<!DOCTYPE html>

<html lang="en">
    <head>
        <title>hello</title>
    </head>
    <body>
        <ul>
            {% for item in nav.top %}
            <li class="{{ 'active' if item.is_active else '' }}">
                <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
            {% endfor %}
        </ul>
        {% if current_user.is_authenticated %}
	        Hi {{ current_user.username }}!<br>
	        <a href="{{url_for('dashboard')}}">Dashboard</a><br>
        {% else %}
	        <a href="{{url_for('login')}}">Login</a>
	        <a href="{{url_for('register')}}">Register</a><br>
        {% endif %}

        {% block body %}{% endblock %}
    </body>
</html>
