{% extends "layout.html" %}

{% block body %}
  <a href="{{url_for('poems')}}">Back to poems</a>
    <h2>{{title}}</h2><br>
    <h3>{{author}}</h3><br>
    <!-- this is getting rid of leading tabs and enters and like formatting stuff like that?
    so the lines that should be break are just blank and not newlines so that's why it's skipping those
  and then the spaces it strips down to one space regardless of if it's multiple and then doesn't show that anyways -->
    {% for line in poem %}
      {% if line == '' %}
        <br>
      {% else %}
        <p>{{ line }}</p>
      {% endif %}
	  {% endfor %}

    <form method="POST" action="/create-comment/{{title}}">
      <input type="text" id="text" name="text" placeholder="Comment!">
      <button type="submit">Comment</button>

    </form>
{% endblock %}